

# Buildout
bin/
repos/
.installed.cfg
.mr.developer.cfg
eggs/
develop-eggs/
*.egg-info/

# Virtual environment
venv/


# Configuration
src/{{ cookiecutter.repo_name }}/config/keys/
src/{{ cookiecutter.repo_name }}/config/plain/
